{{define "title"}}Change Password{{end}}

{{define "main"}}
<h2>Change Password</h2>

<form action="/account/password/update" method="post">
  <input type="hidden" name="csrf_token" value='{{.CSRFToken}}'>

  <div>
    <label>Current password:</label>
    <input type="password" name="oldPassword">
  </div>

  <div>
    <label>New password:</label>
    <input type="password" name="newPassword">
  </div>

  <div>
    <label>Confirm new password:</label>
    <input type="password" name="newPasswordConfirm">
  </div>
  <div>
    <input type='submit' value='Submit'>
  </div>
</form>
{{end}}
