{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Permanent+Marker">
  <link rel="stylesheet" href="/static/css/main.css" />
  <title>{{template "title" .}} - Snippetapp</title>
</head>

<body>
  <header>
    <h1><a href="/">Snippetapp</a></h1>
  </header>
  {{template "nav" .}}
  <main>
    {{template "main" .}}
  </main>
  {{block "sidebar" . }}
  {{end}}
  <footer>Powered by <a href="https://golang.org/">Go</a> in {{.CurrentYear}}</footer>
  <script src="/static/js/main.js"></script>
</body>

</html>
{{end}}
