:root {
  --yellow: #FFE11F;
  --black: #141414;
  --green: #27FB6B
}

* {
  background-color: var(--black);
  font-family: "Permanent Marker", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: var(--yellow);
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  padding: 0px calc((100% - 800px) / 2);
}

header > h1 {
  font-size: 4em;
  margin-top: 0em;
  margin-bottom: 0.2em;

  & a, a:hover {
    text-decoration:none;
  }
}

a:link {
  color: var(--yellow);
}
a:hover {
  color: var(--green);
  background-color: transparent;
  text-decoration: underline;
}
h2 {
  margin: 0;
}
nav {
  display: inline-block;
  width: 100%;

  & a {
    padding: 5px 20px;
    display: inline-block;
  };

  & a.live {
    background-color:var(--yellow);
    color: var(--black);
  }
  & div:first-child {
    float: left;
  }
  & div:last-child {
    float: right;
  }
  & form {
    display: inline-block;
  }
}

footer {
  color: grey;
  position: sticky;
  position: -webkit-sticky;
  top: 100vh;
  padding: 0.5em;
}

.snippet {
  border: 2px solid var(--yellow);
  
  & * {
    font-family: monospace
  }

  & pre {
    padding: 2em;
    margin: 0;
    text-align: left;
    border-top: 1px solid var(--yellow);
    border-bottom: 1px solid var(--yellow);
  }

}

.snippet .metadata {
  padding: 0.75em 18px;
  overflow: auto;

  & * {
    background: transparent;
  };

  & strong {
    float: left;
    font-size: 1.25em;
  }
  & span {
    float: right;
    font-size: 1.25em;
  }

  & time {
    display: inline-block;
    color: grey;

    &:first-child {
      float: left;
    };

    &:last-child {
      float: right;
    };
  }
}

table{
  margin: 2em 0px ;
  width: 100%;
  padding: 1em;
  border: 2px solid var(--yellow);
  & th {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
  }
  & td, a {
    font-family: monospace;
    font-size: 1rem;

    color: grey;
  }
  & tr * {
    text-align: left;
  }
  & tr td {
    padding: 0.2rem 0;
  }
}

label {
  display: inline-block;
}
label.error {  
  font-family: monospace;
  color: red;
}

input[type='text'] {
  width: 100%;
  text-align: left;
  border-color: var(--yellow);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  font-family: monospace;
}
input[type='submit'] {
  background: #333;
  padding: 0.5em 1.5em;
  border-radius: 4px;
  border-color: transparent;
  transition: all 0.2s;
  &:hover {
    color: var(--green)
  }
  &:active {
    background: var(--black);
    border-style: solid;
    border-radius: 4px;
    border-color: var(--green);
    transition: all 0s;
  }
}
input[type='radio'] {
  margin-left: 2em;
}
textarea {
  width: 100%;
  height: 10em;
  text-align: left;
  border-color: var(--yellow);
  border-radius: 4px;
  font-family: monospace;
}

form > div {
  padding: 0.5em;
  text-align: left;
}

div.flash {
  background: var(--yellow);
  color: var(--black);
  padding: 0.5em 0em;
  margin: 0.75em 0em;
}
